
<div style="margin-left: 580px;">
Emp_Name<br>
<input type="text" [(ngModel)]="emp_name"><br>
Emp_Age<br>
<input type="number" [(ngModel)]="emp_age"><br>
Emp_Gender<br>
<div>
    <label>
      <input type="radio" name="emp_gender" value="Male" [(ngModel)]="emp_gender"> Male
    </label>
    <label>
      <input type="radio" name="emp_gender" value="Female" [(ngModel)]="emp_gender"> Female
    </label>
  </div>
Emp_Designation<br>
<input type="text" [(ngModel)]="emp_designation"><br><br>
<button type="submit" (click)="update()"style="color: Blue;"><b>UPDATE</b></button>
<button type="submit" (click)="back()" style="margin-left: 10px;">Back</button>
</div>