td{
    height: 30px;
    color: rgb(3, 4, 0);
    width: 80px;
    text-align: center;
}
th{
    width: 80px;
    height: 30px;
    text-align: center;
}

input{
    height: 30px;
    width: 30px;
}
.button:hover {
    background-color:#42f05c;
    transition: 0.7s;
}

