<div style="margin-top: 12%;">
  <div style="border: 1px solid #c07373;border-radius: 5px;padding: 20px;margin: 0 auto; width: 260px;background-color: rgb(243, 226, 226);">
    Name
    <input type="text" style="margin-left: 40px;" [(ngModel)]="emp_name"><br><br>
    Age
    <input type="number" style="margin-left: 51.5px;" [(ngModel)]="emp_age"><br><br>
    Gender

    <label style="margin-left: 25px;">
      <input type="radio" name="emp_gender" value="Male" [(ngModel)]="emp_gender"> Male
    </label>
    <label>
      <input type="radio" name="emp_gender" value="Female" [(ngModel)]="emp_gender"> Female
    </label>
    <br><br>
    Designation
    <select [(ngModel)]="emp_designation" style="width: 170px;height:24px">
      <option value="" disabled>Select Designation</option>
      <option value="Manager">Manager</option>
      <option value="Developer">Developer</option>
      <option value="HR">HR</option>
      <option value="Project Head">Project Head</option>
    </select><br><br>
    <button type="submit" (click)="add()" style="color: rgb(3, 126, 40);width: 70px;margin-left: 70px;"><b>ADD</b></button>
    <button type="submit" (click)="back()" style="margin-left: 20px;">Back</button>
  </div>
</div>
<div style="margin-bottom:15%;"></div>